doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    meta(property='og:type', content='website')
    meta(property='og:url', content='#{locals.url}#{page.url}')
    meta(property='og:image', content='#{locals.url}/images/logo.png')

    block meta
      meta(property='og:description', content=locals.description)
      meta(name='description', content=locals.description)
      meta(name='keywords', content=locals.keywords)

    block title
      title= locals.name
      meta(property='og:title', content= locals.name)

    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', href='/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-touch-icon-144x144.png')

    link(rel='alternate', href='/feed.xml', type='application/rss+xml', title=locals.name)
    link(href='http://fonts.googleapis.com/css?family=Lato:300|Merriweather:400,400italic,700,700italic' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/css/main.css')

  body
    header.header
      .grid
        .small-12.large-6.columns
          a(href='/')
            include _logo
        .small-12.large-6.columns
          h3.header__headline
            | 2015
            br
            | Hamburg

      nav
        .grid
          .small-12.columns
            ul.menu
              li.menu__item
                a.menu__item__link(href='/news/') News
              li.menu__item
                a.menu__item__link(href='/location/') Location
              li.menu__item
                a.menu__item__link(href='http://schedule.jsunconf.eu/') Schedule
              li.menu__item
                a.menu__item__link(href='http://contribs.jsunconf.eu/') Contribs &amp; Interests
              li.menu__item
                a.menu__item__link(href='/sponsoring/') Sponsoring
              li.menu__item
                a.menu__item__link(href='/about/') About

    block content

    //- block sponsors
    //-   - var sponsors = _.chain(contents.sponsoring._.directories).map(function(item) {
    //-   -   return item.index;
    //-   - }).compact().sortBy(function(item) {
    //-   -   return item.name;
    //-   - }).value();

    //-   - var goldSponsors = _.filter(sponsors, function(sponsor) {
    //-   -   return sponsor.metadata.type === 'gold';
    //-   - })

    //-   .grid
    //-     .small-12.columns
    //-       .sponsor-list
    //-         h3.sponsor-list__title Gold Sponsors
    //-         each sponsor in goldSponsors
    //-           .small-12.columns.sponsor
    //-             a.sponsor__link(href=sponsor.metadata.link, title=sponsor.metadata.name, target='_blank')
    //-               img.sponsor__logo(src= sponsor.url + 'logo.png', alt=sponsor.metadata.name)

    //-   - var silverSponsors = _.filter(sponsors, function(sponsor) {
    //-   -   return sponsor.metadata.type === 'silver';
    //-   - })

    //-   .grid
    //-     .small-12.columns
    //-       .sponsor-list
    //-         h3.sponsor-list__title Silver Sponsors
    //-         each sponsor in silverSponsors
    //-           .small-12.columns.sponsor
    //-             a.sponsor__link(href=sponsor.metadata.link, title=sponsor.metadata.name, target='_blank')
    //-               img.sponsor__logo(src= sponsor.url + 'logo.png', alt=sponsor.metadata.name)

    //-   - var bronzeSponsors = _.filter(sponsors, function(sponsor) {
    //-   -   return sponsor.metadata.type === 'bronze';
    //-   - })

    //-   .grid
    //-     .small-12.columns
    //-       .sponsor-list
    //-         h3.sponsor-list__title Bronze Sponsors
    //-         each sponsor in bronzeSponsors
    //-           .small-6.large-6.columns.sponsor
    //-             a.sponsor__link(href=sponsor.metadata.link, title=sponsor.metadata.name, target='_blank')
    //-               img.sponsor__logo(src= sponsor.url + 'logo.png', alt=sponsor.metadata.name)

    //-   - var supporters = _.filter(sponsors, function(sponsor) {
    //-   -   return sponsor.metadata.type === 'supporter';
    //-   - })

    //-   .grid
    //-     .small-12.columns
    //-       .sponsor-list
    //-         h3.sponsor-list__title Supporters
    //-         each sponsor in supporters
    //-           .small-6.large-6.columns.sponsor
    //-             a.sponsor__link(href=sponsor.metadata.link, title=sponsor.metadata.name, target='_blank')
    //-               img.sponsor__logo(src= sponsor.url + 'logo.png', alt=sponsor.metadata.name)

    footer.footer
      .grid
        .small-0.large-4.columns made with &hearts; and node.js
        .small-12.large-8.columns
          .footer__links
            a(href='http://twitter.com/jsunconf') @jsunconf
            | &nbsp;&nbsp;&middot;&nbsp;&nbsp;
            a(href='/imprint/') Imprint
            | &nbsp;&nbsp;&middot;&nbsp;&nbsp;
            a(href='/code-of-conduct/') Code of Conduct

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44357704-1', 'jsunconf.eu');
      ga('set', 'anonymizeIp', true);
      ga('send', 'pageview');
