extends layout

block title
  title= page.title + ' – ' + locals.name
  meta(property='og:title', content= page.title + ' – ' + locals.name)

block content
  .grid.sponsoring
    .small-12.medium-10.medium-centered.large-8.large-centered.columns
      article
        header
          h1!= page.title

        h2 Are you interested in sponsoring the JavaScript Unconference 2015? We are still looking for sponsors!

        .sponsoring__details
          //- a(href="/downloads/JSUnconfSponsoranschreibenENHH2014.pdf", onclick="ga('send', 'event', 'download', 'click', 'english');") Sponsorship flyer (english)
          //- br
          //- a(href="/downloads/JSUnconfSponsoranschreibenDEHH2014.pdf", onclick="ga('send', 'event', 'download', 'click', 'german');") Sponsorship flyer (german)
          //- br
          .sponsoring__details__email
            a(href="mailto:contact@jsunconf.eu") contact@jsunconf.eu

    .small-12.columns
      img.sponsoring__image(src='sponsoring.jpg', alt='')

    .small-12.medium-10.medium-centered.large-8.large-centered.columns
        //- br
        //- br

        //- h3 The JavaScript Unconference would not be possible without the kind support of these companies:

        //- - var sponsors = _.chain(contents.sponsoring._.directories).map(function(item) {
        //- -   return item.index;
        //- - }).compact().sortBy(function(item) {
        //- -   return item.name;
        //- - }).value();

        //- .grid
        //-   .small-12.columns
        //-     .sponsor-list
        //-       h3.sponsor-list__title Gold Sponsors

        //-   - var goldSponsors = _.filter(sponsors, function(sponsor) {
        //-   -   return sponsor.metadata.type === 'gold';
        //-   - });

        //-   each sponsor in goldSponsors
        //-     .small-12.columns.sponsor
        //-       a.sponsor__link(href=sponsor.metadata.link, title=sponsor.metadata.name)
        //-         img.sponsor__logo(src= sponsor.url + 'logo.png', alt=sponsor.metadata.name)
        //-       p
        //-         br
        //-         a(href='https://twitter.com/' + sponsor.metadata.twitter, target='_blank')= sponsor.metadata.twitter
        //-         br
        //-         a(href=sponsor.metadata.link, target='_blank')= sponsor.metadata.link
        //-       p.sponsor__text!= sponsor.metadata.text

        //- .grid
        //-   .small-12.columns
        //-     .sponsor-list
        //-       h3.sponsor-list__title Silver Sponsors

        //-   - var silverSponsors = _.filter(sponsors, function(sponsor) {
        //-   -   return sponsor.metadata.type === 'silver';
        //-   - });

        //-   each sponsor in silverSponsors
        //-     .small-12.columns.sponsor
        //-       a.sponsor__link(href=sponsor.metadata.link, title=sponsor.metadata.name)
        //-         img.sponsor__logo(src= sponsor.url + 'logo.png', alt=sponsor.metadata.name)
        //-       p
        //-         br
        //-         a(href='https://twitter.com/' + sponsor.metadata.twitter, target='_blank')= sponsor.metadata.twitter
        //-         br
        //-         a(href=sponsor.metadata.link, target='_blank')= sponsor.metadata.link
        //-       p.sponsor__text!= sponsor.metadata.text

        //- .grid
        //-   .small-12.columns
        //-     .sponsor-list
        //-       h3.sponsor-list__title Bronze Sponsors

        //-   - var bronzeSponsors = _.filter(sponsors, function(sponsor) {
        //-   -   return sponsor.metadata.type === 'bronze';
        //-   - });

        //-   each sponsor in bronzeSponsors
        //-     .small-12.columns.sponsor
        //-       a.sponsor__link(href=sponsor.metadata.link, title=sponsor.metadata.name)
        //-         img.sponsor__logo(src= sponsor.url + 'logo.png', alt=sponsor.metadata.name)
        //-       p
        //-         br
        //-         a(href='https://twitter.com/' + sponsor.metadata.twitter, target='_blank')= sponsor.metadata.twitter
        //-         br
        //-         a(href=sponsor.metadata.link, target='_blank')= sponsor.metadata.link
        //-       p.sponsor__text!= sponsor.metadata.text

        //- .grid
        //-   .small-12.columns
        //-     .sponsor-list
        //-       h3.sponsor-list__title Supporters

        //-   - var supporters = _.filter(sponsors, function(sponsor) {
        //-   -   return sponsor.metadata.type === 'supporter';
        //-   - })

        //-   each sponsor in supporters
        //-     .small-12.columns.sponsor
        //-       a.sponsor__link(href=sponsor.metadata.link, title=sponsor.metadata.name)
        //-         img.sponsor__logo(src= sponsor.url + 'logo.png', alt=sponsor.metadata.name)
        //-       p
        //-         br
        //-         a(href='https://twitter.com/' + sponsor.metadata.twitter, target='_blank')= sponsor.metadata.twitter
        //-         br
        //-         a(href=sponsor.metadata.link, target='_blank')= sponsor.metadata.link

block sponsors
  //- Empty
